@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


body {
    background-color: rgb(28, 130, 220);
    color:rgb(145, 140, 140);
    font-family: 'Montserrat', sans-serif;
}
#h1-1 {/*For the title*/
    text-align: center;
    font-size: 50px;
}
h1 {
    font-size: 45px;
}

h2 {/*For the second title*/
    font-size: 35px;
}

h3 {/*For the third title*/
    font-size: 30px;
}

button {
    background-color:rgb(10, 72, 91);
    color:rgb(137, 119, 119);
    font-size: 20px;
}