body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .registration-container {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(31, 27, 27, 0.1);
    width: 300px;
    text-align: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .logo img {
    width: 120px; 
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #161616;
  }

  input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }

  button {
    background-color: #206fa4;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
  }

  .signup-link {
    margin-top: 20px;
    color: #262626;
    font-size: 14px;
  }

  .signup-link a {
    color: #2b82bc;
    text-decoration: none;
    font-weight: bold;
  }       