@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
body {
    background-image:url(./santa\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
h1 {
    color:rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 900px;
    font-family: download santa;
    font-style: italic;

    position:absolute;
    top: 30px;
    left: 600px;
}
p {
    color:rgb(255, 255, 255);
    font-size : 20px;
    font-weight: 900px;
    position:absolute;
    top:200px;
    left: 950px;
}
#download_santa{
    position:absolute;
    top:180px;
    left:150px;
    height: 250px;
}
#download_santa_2{
    position:absolute;
    top:450px;
    left:150px;
    height: 250px;

}