.effect{
    width: 180px;
    height: 180px;
    background-color: rgb(20, 78, 225);
    margin-left: 60px;
    margin-top: 60px;
    transition: transform 0.50s;
}

.effect:hover{
    transform: rotate(360deg);
}

.animation{
    width: 180px;
    height: 180px;
    background-color: rgb(20, 73, 197);
    position: relative;
    animation: mymove 0.5s infinite;
    transform: transform 0.50s;
}

@keyframes mymove{
    from{top: 0px;}
    to  {top: 100px;}
}

.animation:hover{
    transform: rotate(90deg);
}